/*p{
    color:red;
    font-size: 25px;
}
p:before {
    content: "ami kishu likhlam, ";
    color:green;
}
p::after {
   content:" ami aro kishu likhlam ar ki.";
   color: blue;
}
.any {
    width: 300px;
    height: 200px;
    background: rgb(38, 151, 155);
    border: 20px solid red;
    pading: 15px;
    margin: 10px;
}
.arekta{
    width: 300px;
    height: 200px;
    background: rgb(15, 177, 36);
    border: 20px solid red;
    pading: 15px;
    margin: 10px;
    box-sizing: border-box;
} */
/*
.main-area{
    background: rgb(81, 192, 226);
}
.main-area::after{
    content: "";
    display: block;
    clear: both;
}
.container {
    width: 90%;
    background: rgb(240, 153, 153);
    margin: 0 auto;
}
.b25 {
    width: 25%;
    height: 180px;
    float: left;
    padding: 15px;
    overflow:hidden;
    box-sizing: border-box;
   /* background-image: url(vul.jpg);
}
.a {
    background: rgb(213, 226, 32,.5);
}
.b {
    background: rgb(163, 65, 155,.8);
}
.c {
    background: rgb(7, 172, 248);
}
.d {
    background: rgb(8, 168, 56);
}*/

/*FACEBOOK*/
