p{
    color:red;
    background: black;
    text-align: center;
    padding: 15px;
    font-size: 22px;
}
h1{
    text-align: center;
}
.box{
    color: green;
    width: 300px;
    height: 300px;
    border: solid;
    margin-top: 12px;
    margin-left: auto;
    margin-right: auto;
    background: radial-gradient( red,yellow,rgb(48, 48, 238)) ;
    border-radius: 150px;
    overflow: hidden ;
}
.circle{
    width: 150px;
    height: 150px;
    border: solid green;
    margin: 75px auto;
    color:red;
    border-radius: 75px;
    background: white;

}